* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #151515;
  font-family: "Space Grotesk", sans-serif;
  color: rgb(255, 255, 255);
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  max-width: 70rem;
  width: 90%;
  margin: 0 auto;
}

a {
  padding: 1rem 0;
  z-index: 2;
}

header {
  min-height: 45rem;
  background-color: rgb(255, 0, 0);
  margin-top: -4.5rem;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.patterns-image {
  position: absolute;
  top: 8rem;
  left: -15rem;
  z-index: 1;
}

h1 {
  font-size: 5.5rem;
  line-height: 5.5rem;
  letter-spacing: -0.16rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: rgb(217, 217, 217);
}

button {
  background: none;
  border: none;
  font-size: 1rem;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  transition: 0.6s;
}

button:hover {
  cursor: pointer;
  color: #4ee1a0;
}

.header-image {
  width: 27.8125rem;
  height: 45rem;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ryan-nolan-image {
align-self: flex-end;
}

.circle-image {
    position: absolute;
    left:-4rem;
    bottom:6rem;;
    z-index:3;
  }

.header-content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: blue;
  position: absolute;
  left: 0;
  z-index:2;
  width:65%;
}

.header-content-container h1 {
  max-width: 50rem;
}

.underlined-header-text {
  text-decoration: underline;
  text-decoration-color: #4ee1a0;
}

.header-content-container p {
  max-width: 28rem;
}

.contact-me-button {
  border-bottom: 2px solid #4ee1a0;
  width: fit-content;
  padding-bottom: 0.5rem;
}

.header-container {
  margin: 0 auto;
  max-width: 70rem;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: pink;
  position: relative;
}

.portfolio-name {
  flex-grow: 1;
  font-size: 2rem;
  font-weight: 900;
}

.social-links {
  flex-shrink: 0;
}

.social-links:hover svg path {
  transition: 0.6s;
  fill: #4ee1a0;
}
