* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #151515;
  font-family: "Space Grotesk", sans-serif;
  color: rgb(255, 255, 255);
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

a {
  padding: 1rem 0;
  z-index: 2;
}

header {
  min-height: 45rem;
  background-color: rgb(65, 65, 65);
  margin-top: -4.5rem;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
}

h1 {
  font-size: 5.5rem;
  line-height: 5.5rem;
  letter-spacing: -0.16rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color:rgb(217, 217, 217);
}

.header-image {
  width: 27.8125rem;
  height: 45rem;
  background-color: rgb(49, 49, 49);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  left: 0;
}

.header-content-container h1 {
  max-width: 50rem;
}

.underlined-header-text {
  text-decoration: underline;
  text-decoration-color: #4ee1a0;
}

.header-content-container p {
  max-width: 28rem;
}

.contact-me-button {
  border-bottom: 2px solid #4ee1a0;
  width: fit-content;
  padding-bottom: 0.5rem;
}

.container {
  margin: 0 auto;
  max-width: 70rem;
  width: 90%;
}

.portfolio-name {
  flex-grow: 1;
  font-size: 2rem;
}

.social-links {
  flex-shrink: 0;
}

.social-links:hover svg path {
  transition: 0.6s;
  fill: #4ee1a0;
}
