@font-face {
  font-family: "Calculator Font";
  src: url("./Calculator.ttf") format("truetype");
}

• {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  background-color: rgb(182, 241, 218);
  height: 100svh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: manipulation;
}

#calculator-container {
  background-color: rgb(107, 104, 104);
  width: 24rem;
  height: 34rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  border-style: solid;
  border-color: black;
}

#calculator-screen {
  background-color: rgb(75, 75, 75);
  width: 20rem;
  height: 6rem;
  border-radius: 10px;
  margin-top: 2rem;
  border-style: solid;
  border-color: black;
  color: lime;
  font-family: "Calculator Font";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#screen-numbers-container {
  padding-left: 1rem;
  padding-right: 1rem;
  width: fit-content;
  max-width: 18rem;
}

#calculator-buttons {
  width: 20rem;
  height: 24rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

#buttons-numbers {
  width: 14rem;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  column-gap: 5px;
  row-gap: 5px;
  padding: 5px;
}

.number-buttons {
  border-radius: 20px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

.number-buttons:hover {
  background-color: darkgray;
}

#buttons-operators {
  width: 5rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  column-gap: 5px;
  row-gap: 5px;
  padding: 5px;
}

.operator-buttons {
  border-radius: 20px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

.operator-buttons:hover {
  background-color: darkgray;
}

#equals-button {
  background-color: orange;
  border-radius: 20px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

#equals-button:hover {
  background-color: rgb(255, 225, 0);
}

button {
  filter: drop-shadow(2px 2px 1px #0f0f10);
  cursor: pointer;
  font-size: 32px;
  text-align: center;
  color: black;
  padding: 0px;
}

#ac-button {
  background-color: red;
  color: white;
  text-align: center;
}

#ac-button:hover {
  background-color: rgb(255, 3, 95);
  color: white;
}
